<h1>Editing Category</h1>

<%= render 'form', category: @category %>

<%= link_to 'Show', @category %> |
<%= link_to 'Delete', @category, method: :delete,
   data: {:confirm => "This will delete #{@category.posts.count} the posts in this category. Are you sure?" } %> |
<%= link_to 'Back', category_path(@category) %>
